<link rel="stylesheet" href="/CSS/signin.css">

<div class="container">
    <div class="mt-5">
        <h2>Add to List</h2>
        <form action="/customer/createCustomer" method="POST">
            <div class="container d-flex ">
                <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" name="phoneNumber">
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <div>
        <ul>
        <h1>Waiting List</h1>
        <% waitingList.forEach ( customer =>{ %>
            <li class="waitingList d-flex justify-content-between" data-id="<%= customer._id %>"> 
                
                <span>
                    <img class= "<%= customer.imgage ? 'image' : 'notDisplay' %>" src="<%=customer.image %>" alt="">
                    <span class="<%= customer.vip ? 'vip' : 'notDisplay' %>">
                        *VIP* 
                    </span>
                    <a href="/customer/<%=customer._id%>"><%= customer.name %></a>
                </span>
                <span>message</span>
                <span>Done</span>
            </li>
        <% }) %>
        </ul>   
    </div>
</div>
<%- include('./partials/footer'); -%> 
