<%- include('./partials/header'); -%>
<%- include('./partials/nav'); -%>

<div class="container mx-auto px-5">
    <h1 class="text-4xl">Waiting List</h1>
    
    <form  class="flex my-5" action="/customer/createCustomer" method="POST">
        <input type="text" placeholder="Name" class="input input-bordered w-full max-w-xs" name="name"/>
        <input type="text" placeholder="Phone Number" class="input input-bordered w-full max-w-xs" name="phoneNumber"/>
        <button class="btn btn-active btn-primary" type="submit">Add Customer</button>
    </form>

    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el => { %>
        <div class="alert alert-error shadow-lg">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span><%= el.msg %></span>
          </div>
        </div>
      <% }) %>    
    <% } %>
   
  <div class="overflow-x-auto w-full">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>
            VIP
          </th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Action</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <% waitingList.forEach ( customer =>{ %>
            <tr>
                <th>
                  <form
                    class="col-1"
                    action="/customer/changeVip/<%= customer._id %>?_method=PUT"
                    method="POST"
                  >
                    <button class="fa fa-star text-2xl  <%=customer.vip? 'text-yellow-500':'text-gray-200' %> " type="submit"></button>
                  </form>
                </th>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="mask mask-squircle w-12 h-12">
                        <% if(customer.image) { %>
                            <img src="<%= customer.image %>"  alt="" />
                        <%}%>
                      </div>
                    </div>
                    <div>
                      <div class="font-bold"><a href="/customer/<%=customer._id%>"><%= customer.name %></div>
                      
                    </div>
                  </div>
                </td>
                <td>
                    <%= customer.phoneNumber %>
                </td>
                <td>
                    <form
                      class="col-1"
                      action="/customer/sendMessage/<%= customer._id %>"
                      method="POST"
                      >
                      <button class="btn btn-info btn-xs" type="submit">Send Message</button>
                    </form>
                    
                </td>
                <td class=""">

                  <button class="btn btn-ghost btn-xs"><a href="/customer/<%=customer._id%>">details</a></button>
                
                  <form
                    class=""
                    action="/customer/removeFromList/<%= customer._id %>?_method=PUT"
                    method="POST"
                    >
                    <button class="btn btn-ghost btn-xs">remove from list</button>
                  </form>
                </td>
            </tr>
        <% }) %>
        
        
      <!-- foot -->
      <tfoot>
        <tr>
          <th>VIP</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Action</th>
          <th>More</th>
        </tr>
      </tfoot>
      
    </table>
  </div>
</div>
<%- include('partials/footer'); -%>